**/.dockerignore
**/bin/
**/obj/
**/out/
**/.vs/
**/.vscode/
**/*.user
**/*.suo
**/*.userosscache
**/*.sln.docstates
**/node_modules/
**/Dockerfile*
**/docker-compose*
**/.git/
**/.gitignore
**/README.md
**/LICENSE
**/.DS_Store/
**/Thumbs.db
